In [137]:
'''
    WARNING CONTROL to display or ignore all warnings
'''
import warnings; warnings.simplefilter('default')     #switch betweeb 'default' and 'ignore'

''' Set debug flag to view extended error messages; else set it to False to turn off debugging mode '''
debug = True

In [138]:
import os
import sys
import mindsdb_sdk

# os.environ['KMP_DUPLICATE_LIB_OK']='True'
__rez_root_dir__="/home/nuwan/workspace/rezaware/"
sys.path.insert(1,__rez_root_dir__)
# from utils.modules.ml.timeseries import rollingstats as rs

''' restart initiate classes '''
if debug:
    import importlib
#     rs = importlib.reload(rs)
    
__desc__ = "process rolling stats for sample dataset"

# clsRS = rs.RollingStats(desc=__desc__)
print("\nClass initialization and load complete!")

Class initialization and load complete!

## Read sample data

In [141]:
import pandas as pd

_data_fpath=os.path.join(__rez_root_dir__,
                         "utils/data/ml/timeseries/sampledata",
                         "rollingstats.csv")
_test_data_df = pd.read_csv(_data_fpath)
col_list = ['asset_name','mcap_date','mcap_value',]
_test_data_df=_test_data_df[col_list]
_test_data_df

              asset_name            mcap_date    mcap_value
0               gamezone  2023-03-02 00:00:00  1.586919e+07
1      the_virtua_kolect  2023-03-02 00:00:00  2.200934e+07
2            alchemy_pay  2023-03-02 00:00:00  1.807773e+08
3                   ergo  2023-03-02 00:00:00  1.055061e+08
4              handshake  2023-03-02 00:00:00  2.328368e+07
...                  ...                  ...           ...
15696               ecox  2023-03-17 00:00:00  2.011757e+07
15697          phantasma  2023-03-17 00:00:00  2.150946e+07
15698     hermez_network  2023-03-17 00:00:00  8.430363e+07
15699               sero  2023-03-17 00:00:00  1.177103e+07
15700           swftcoin  2023-03-17 00:00:00  1.089315e+07

[15701 rows x 3 columns]

In [ ]:
# connects to the specified host and port
server = mindsdb_sdk.connect('http://127.0.0.1:47334')

## get database

In [134]:
__def_db_name__ = "minds_test_db"

if __def_db_name__ not in [d.name for d in server.list_databases()]:
    _db = server.create_database(
        engine = "postgres",
        name = "minds_test_db",
        connection_args = {
            "host" : "172.17.0.1",
            "port" : "5432",
            "database":"minds_test_db",
            "user" : "nuwan",
            "password":"Kotchchi@7281"
        }
    )
_db = server.get_database('minds_test_db')
_db

Database(minds_test_db)

## Get files

In [154]:
_files_list = project.query("SELECT tables FROM files;")
_files_list.fetch()

RuntimeError: Can't find view with name/id: files/None

## get project

In [132]:
__def_proj_name__ = 'minds_test_proj'

if __def_proj_name__ not in [p.name for p in server.list_projects()]:
    project = server.create_project(__def_proj_name__)
project = server.get_project(__def_proj_name__)
project

Project(minds_test_proj)

## Create model

In [189]:
__def_model_name__="mcap_price_predict"
if __def_model_name__ in [m.name for m in  project.list_models()]:
    project.drop_model(__def_model_name__)

In [182]:
__def_model_name__="mcap_price_predict"
__def_engine__=
if __def_model_name__ not in [m.name for m in  project.list_models()]:
    mcap_model = project.create_model(
        using = 
        name = __def_model_name__,
        predict='mcap_value',
        query = ("SELECT cm.mcap_date, cm.asset_name, cm.mcap_value "+\
                "FROM files.coin_mcap AS cm;",
        timeseries_options={
            'WINDOW': 5,
            'HORIZON': 1,
        }
    )
# try:
mcap_model=project.get_model(__def_model_name__)
mcap_model
# except Exception as e:
#     print(e)

RuntimeError: SQL statement cannot be parsed by mindsdb_sql - CREATE PREDICTOR mcap_price_predict (SELECT cm.mcap_date, cm.asset_name, cm.mcap_value FROM files.coin_mcap AS cm;) PREDICT mcap_value: Syntax error at token LPAREN: "("

In [177]:
mcap_model.get_status

In [147]:
query = project.query('SELECT * FROM files.coin_mcap;')
query.limit(3).fetch()

AttributeError: 'Query' object has no attribute 'limit'

In [28]:
my_table = mysql_demo_db.get_table('warehouse.mcap_past')
my_table=my_table.filter(asset_symbol='nfy')
my_table=my_table.limit(3)
my_table.fetch()

,mcap_past_pk,uuid,data_source,asset_name,asset_symbol,alt_asset_id,currency,price_date,price_value,price_log_ror,...,volume_date,volume_size,volume_change,created_dt,created_by,created_proc,modified_dt,modified_by,modified_proc,deactivate_dt
0,1,6453adc74a6e0a5e3a77a792,coingecko,non_fungible_yearn,nfy,non-fungible-yearn,usd,2023-03-01 00:00:00.000000,0.760072,None,...,2023-03-01 00:00:00.000000,19706.965408,None,2023-05-05 07:18:09.962638,farmraider,wrangler_assets_etl_CryptoMarket function <nos...,None,None,None,None
1,2,6453adc74a6e0a5e3a77a7a2,coingecko,non_fungible_yearn,nfy,non-fungible-yearn,usd,2023-03-02 00:00:00.000000,0.775617,None,...,2023-03-02 00:00:00.000000,20273.635916,None,2023-05-05 07:18:09.962638,farmraider,wrangler_assets_etl_CryptoMarket function <nos...,None,None,None,None
2,3,6453adc74a6e0a5e3a77a7af,coingecko,non_fungible_yearn,nfy,non-fungible-yearn,usd,2023-03-03 00:00:00.000000,0.781697,None,...,2023-03-03 00:00:00.000000,21408.025024,None,2023-05-05 07:18:09.962638,farmraider,wrangler_assets_etl_CryptoMarket function <nos...,None,None,None,None